#contact {
  width: 80%;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width:1200px;
  padding-bottom: 3rem;
  h3{
    text-transform: uppercase;
  }
}

.container__contact{
  padding: 2rem;
  margin: 0 auto;
}


.container__clients{
  padding: 2rem; 
  margin:0 auto;
}

.heading{
  margin-top: 3rem;
}

.cleints__logo{
  display: flex;
  margin: 1rem auto;
  flex-direction: column;
}


img{
  width: 100px;
  margin: 0.3rem;
  padding: .7rem .5rem;
  object-fit: cover;
}

button{
  width: 70px;
  height:30px;
  border: 1px solid rgb(112, 195, 207);
  color: rgb(112, 195, 207);
}
textarea{
  height: 150px;
  width: 300px;
  border: 1px solid darkgray;
  border-radius: 2px;
  
}

textarea::placeholder{
  padding-top: 8px;
}

input{
  height: 35px;
  width: 300px;
  border: 1px solid darkgray;
  border-radius: 2px;
}

.font-size{
  font-size: 10px;
}





@media screen and (max-width: 900px) {

  #contact {
    
    grid-template-columns: 1fr ;
}

}




