 /* #expertise  */

/* .experties-heading h1, p{
    padding: 10px;
    justify-content: center;
    margin: 10px;
    text-align: center;
     
}
#experties {
    display: flex;
    flex-direction: column;
   align-content: center;
   justify-content: center;
    align-items: center;
    height: 100vh;
}


.expertise-section {
    width:80%; 
}

.row {
    display: flex;
    margin-bottom: 20px;
    margin-left: 200px;
}

.column {
    flex-basis: 30%;
    margin: 10px;
     justify-content: center;
}

.expertise-item {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.expertise-item img {
    width: 50px; 
    height: 50px;
    margin-bottom: 10px;
}

.expertise-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.expertise-item p {
    font-size: 14px;
    color: #666666;
}

@media (min-width: 700px) { 
    
    .column {
        flex-basis: 48%; 
        margin-bottom: 20px;
        margin-left: 0px;
        flex-wrap: wrap;
    }
}*/

/* Common styles */
.experties-heading {
    text-align: center;
    padding: 20px;
}

.expertise-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px; /* Adjust max width as needed */
}

.expertise-item {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.expertise-item img {
    width: 50px; 
    height: 50px;
    margin-bottom: 10px;
}

.expertise-item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.expertise-item p {
    font-size: 14px;
    color: #666666;
}

@media (max-width: 768px) {
    .expertise-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust min and max width as needed */
    }
}

