#footer {
  background-image: url(/image/bgk-header.png);
  background-color: #36345f;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  color: var(--textLight);
}

.footer-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  p {
    color: var(--textLight);
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
}

.footer-middle {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding-top: 1rem;

  h3 {
    font-size: 1.4rem;
  }

  span {
    color: var(--textLight);
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
}

.footer-mid-address {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.middle-info {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.icon-container {
  padding-top: 0.3rem;
}

.info-container {
  display: flex;
  flex-direction: column;
}
