#header {
  background-image: url(/image/bgk-header.png);
  background-color: #36345f;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 70vh;
  color: var(--textLight);
}

.nav-logo {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 2rem;
}

@media only screen and (max-width: 1000px) {
  .nav-logo {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-txt span {
  color: var(--brandColor);
  font-size: 2rem;
  font-weight: 300;
}
.nav {
  display: flex;
  justify-content: flex-end;
  gap: 1.4rem;
}

.nav li {
  list-style-type: none;
}

.nav a {
  text-decoration: none;
  color: var(--textLight);
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.nav a:hover {
  color: var(--brandColor);
}
