@import url("header.css");
@import url("hero.css");
@import url("our-story.css");
@import url("video.css");
@import url("expertise.css");
@import url("team.css");
@import url("contact.css");
@import url("footer.css");

:root {
  --brandColor: rgba(13, 255, 0, 0.664);
  --brandSecond: blue;
  --bgLight: white;
  --bgDark: black;
  --textLight: rgb(255, 208, 0);
  --textDark: black;
  --logoColor: hsl(60, 100%, 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
