@import url("header.css");
@import url("hero.css");
@import url("our-story.css");
@import url("video.css");
@import url("expertise.css");
@import url("team.css");
@import url("contact.css");
@import url("footer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
