#our-story {
  background-color: var(--bgLight);
  text-align: center;
  color: var(--textDark);
  display: flex;
  flex-direction: row;

}

.our-story-image{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end ;
  align-items: center;
}

.logo-big{
  justify-self: center;
  margin-right: 5%;
  width: 50%;
  height: 80%;

}

.our-story-text{
  width: 80%;
  text-align: left;
}

.header-our-story{
  margin: 2rem 0 1rem 0;
}

.button-our-story{
  border: 2px solid;
  border-color: var(--brandColor);
  color: var(--brandColorLight);
  background: transparent;
  margin-bottom: 4rem;
  padding: 0.4rem 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;  
  margin-top: 1rem;
  font-weight: 900;
}

.button-our-story:hover{
  background-color: var(--brandColorLight);
  color: var(--textDark);
}

.description-our-story{
  margin-right: 10rem;
}

@media only screen and (max-width: 1000px) {
  #our-story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .description-our-story{
    margin-right: 0;
    text-align: center;
  }

  .our-story-image{
    justify-content: center;
    width: 70%;
  }

  .header-our-story{
    text-align: center;
  }

  .area__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .button-our-story{
  
  }

}